.cardUnFlip {
  background: var(--Common-gray-50, #f9fafb);
  box-shadow:
    4px 4px 0px 0px #69c,
    8px 8px 0px 0px #237ac1;
}
.cardFliped {
  background: var(--Common-gray-50, #f9fafb);
  box-shadow:
    4px 4px 0px 0px #818181,
    8px 8px 0px 0px #505050;
}
.card {
  height: 400px;
  display: grid;
  place-items: center;
  border-radius: 12px;

  border: 1px solid var(--colors-layout-foreground-300, #d4d4d8);
  padding: 20px 10px;
  text-align: center;
}
